<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock %}
    </head>
    <body>
    	<nav style="margin: 8px; font-size: 18px">
    		{% if user.is_authenticated %}
    			<a href="{% url 'staff:logout' %}">Logout</a>
    		{% else %}
    			<a href="{% url 'staff:login' %}">Login</a>
    		{% endif %}
    		<a href="{% url 'staff:home' %}">Hierarchy</a>
    		<a href="{% url 'staff:staff' %}">Catalog</a>
    	</nav>
    {% block content %}
    {% endblock %}
    </body>
</html>